/.idea
/.gitignore
###> symfony/framework-bundle ###
/application/.env
/application/.env.test
/application/.env.local
/application/.env.local.php
/application/.env.*.local
/application/config/secrets/prod/prod.decrypt.private.php
/application/public/bundles/
/application/var/
/application/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/application/.phpunit
/application/.phpunit.result.cache
/application/phpunit.xml
/application/bin/.phpunit
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/application/node_modules/
/application/public/build/
/application/npm-debug.log
/application/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> docker/ ###
/docker/database/data/
/docker/logs/nginx/*
###> docker/ ###
